# (Data Science Tools and Ecosystem)

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages in Data Science
- Data Science Development Platforms
- Github and other useful tools

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Scipy
2. matplotlib
3. Keras

| Data Science Tools       | 
|:-------------------------|
| Anaconda Navigator.      | 
| Amazon Web Services(AWS) |  
| IBM Watson.              |

### (Below are a few examples of evaluating arithmetic expressions in Python)

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## (Author : Gokul Krishna B)